# Ignore Files
*.*~
output/*
citydb-3dtiler.sublime-project
citydb-3dtiler.sublime-workspace
# Do NOT Ignore Files
!.gitignore
!output/.gitkeep
# Ignore Folders
.*
env
sources
__pycache__
# Do NOT Ignore Folders
