# Ignore Files
*.*~
output/*
tiler_app/*
citydb-3dtiler.sublime-project
citydb-3dtiler.sublime-workspace
# Do NOT Ignore Files
!tiler_app/about_tiler_app.md
!.gitignore
!output/.gitkeep
# Ignore Folders
.*
env
sources
__pycache__
# Do NOT Ignore Folders
!output
