name: Build and Publish Docker Image

on:
  push:
    branches:
      - main

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@65b78e6e13532edd9afa3aa52ac7964289d1a9c1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            my-docker-hub-namespace/my-docker-hub-repository
            ghcr.io/${{ github.repository }}

      - name: Build and push Docker images
        id: push
        uses: docker/build-push-action@3b5e8027fcad23fda98b2e3ac259d8d67585f671
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

# on:
#   push:
#     branches: 
#       - "main"

# env:
#   REGISTRY: docker.io
#   IMAGE_NAME: tum-gis/citydb-3dtiler

# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v4
#     - name: Log in to Dockerhub
#       uses: docker/login-action@v3
#       with:
#         username: ${{ secrets.DOCKERHUB_USERNAME }}
#         password: ${{ secrets.DOCKERHUB_TOKEN }}
#     - name: Set up QEMU
#       uses: docker/setup-qemu-action@v2
#       with:
#         platforms: linux/amd64,linux/arm64
#     - name: Set up Docker Buildx
#       uses: docker/setup-buildx-action@v2
#     - name: Extract metadata (tags, labels) for docker image
#       id: meta
#       uses: docker/metadata-action@v4
#       with:
#         images: |
#           ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
#           tumgis/cityb-3dtiler
#         tags: |
#           type=raw,value=latest
#         labels: |
#           maintainer=Chair of Geoinformatics, Technical University of Munich (TUM)
#           org.opencontainers.image.vendor=Chair of Geoinformatics, Technical University of Munich (TUM)
#           org.opencontainers.image.title=citydb-3dtiler
#     - name: Build the Docker image
#       run: docker build . --file Dockerfile --tag tumgis/citydb-3dtiler:latest
#     # - name: Push the Docker mage
#       # run: docker push tumgis/citydb-3dtiler:latest
#     - name: Build and publish ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }} - Ubuntu
#       uses: docker/build-push-action@v4
#       with:
#         push: true
#         tags: ${{ steps.meta.outputs.tags }}
#         labels: ${{ steps.meta.outputs.labels }}
#         platforms: linux/amd64,linux/arm64