name: Build and Publish Docker Image

on:
  push:
    branches: 
      - "main"
  pull_request:
    branches: 
      - "main"

env:
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Log in to Dockerhub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag tumgis/citydb-3dtiler:latest
    - name: Push the Docker mage
      run: docker push tumgis/citydb-3dtiler:latest